/* Style all input fields */
h1
{
    text-align: center;
    color: rgb(9, 100, 16);
    margin-right: 30px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

input 
{
    width: 70%;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    
}
  
  /* Style the submit button */
.input[type=submit]
  {
    background-color: #191df3;
    color: rgb(22, 184, 149);
    padding-left: 100;
    margin-left: 2px;
    margin-top: 20px;
    
    
  }
 
  /* Style the container for inputs */
  .container 
  {
    background-color: #e2e3ee;
    padding: 20px;
    width: max-content;
    margin: 0 auto;
    border-radius: 25px;
  }
  
